<ion-header>
  <ion-toolbar>
    <ion-title>
    Inicio de sesion
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/grafica.svg"></ion-img>
      <ion-card-header> 
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title>{{messages}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <form (ngSubmit)="logForm()">
          <ion-item>
            <ion-label>Usuario</ion-label>
            <ion-input type="text" [(ngModel)]="Fusuario" name="usuario"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Contraseña</ion-label>
            <ion-textarea [(ngModel)]="Fpass" name="description"></ion-textarea>
          </ion-item>
          <ion-button expand="full" color="primary" type="submit">Entrar</ion-button>
        
        </form>
      </ion-card-content>
    </ion-card>
    
</ion-content>
